@import "../../sass/utils/variables";
@import "../utils/placeholders";
@import "../utils/mixins";

.footer {
  background-color: $color_footer-background;
}

.container__footer {
  min-width: calc(320px - 1rem);
  width: 100%;
  margin: 0 auto;
  padding: 60px 1rem;
  display: block;
  // background-color: pink;
  @include for-size(mobile-only) {
    padding: 60px 1rem;
  }
  @include for-size(mobile) {
    padding: 60px 1rem;
  }
  @include for-size(tablet) {
    display: flex;
    max-width: $width_tablet;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 15px;
  }
  @include for-size(desktop) {
    display: flex;
    width: $width_desktop;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 60px 215px;
  }
}
.footer__contacts {
  @include for-size(mobile-only) {
    display: block;
    margin-bottom: 60px;
  }
  @include for-size(mobile) {
    display: block;
    margin-bottom: 60px;
    width: 100%;
    padding-left: 75px;
    padding-right: 89px;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 60px;
    justify-content: space-between;
    width: 100%;
    padding-left: 75px;
    padding-right: 89px;
  }
  @include for-size(desktop) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.footer__item--addr {
  display: block;
  min-width: 232px;
  width: 232px;
  // outline: 1px solid green;
  // background-color: grey;
  @include for-size(mobile-only) {
    margin: 0 auto 60px;
  }
  @include for-size(mobile) {
    margin: 0 auto 60px;
  }
  @include for-size(tablet) {
    margin-right: 165px;
  }
  @include for-size(desktop) {
    margin-right: 70px;
  }
}
.footer__addr-item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  @include for-size(mobile-only) {
    justify-content: center;
  }
  @include for-size(mobile) {
    justify-content: center;
  }
  @include for-size(tablet) {
    justify-content: center;
  }
  @include for-size(desktop) {
    justify-content: start;
  }
}
.logo--footer {
  margin-bottom: 20px;
}
.footer__addr__link {
  @extend %link;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  /* or 24px */
  letter-spacing: 0.03em;
  color: $color_text-transp;
}
.addr-text {
  // transition-property: background-color, fill;
  // transition: $transition-common;
}

.footer__item--social {
  padding-top: 12px;
  // outline: 1px solid green;
  // background-color: grey;
  @include for-size(mobile-only) {
    margin: 0 auto;
    max-width: 210px;
  }
  @include for-size(mobile) {
    margin: 0 auto;
    max-width: 210px;
  }
  @include for-size(tablet) {
    max-width: 210px;
  }
  @include for-size(desktop) {
    max-width: 210px;
  }
}
.footer_block_title {
  display: flex;
  justify-content: center;

  // width: 100%;
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color_text-light;
  @include for-size(desktop) {
    justify-content: start;
  }
}
.footer__socials {
  // width: 100%;
  padding: 0px;
  color: $color_icon_footer;
}
.footer__link--social {
  border-radius: 50%;
  color: $color_icon_footer;
  background-color: $color_footer_icon-background;
}
.footer__item--form {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 12px;
  // outline: 1px solid green;
  // background-color: grey;
  @include for-size(mobile-only) {
  }
  @include for-size(mobile) {
    max-width: 450px;
  }
  @include for-size(tablet) {
    max-width: 450px;
  }
  @include for-size(desktop) {
    width: 570px;
    margin-right: 0;
  }
}
.footer__form__content {
  display: flex;
  flex-wrap: wrap;
  @include for-size(mobile-only) {
    justify-content: center;
  }
  @include for-size(mobile) {
    justify-content: center;
  }
  @include for-size(tablet) {
    justify-content: center;
  }
  @include for-size(desktop) {
  }
}
.footer__form__input--mail {
  height: 50px;
  width: 100%;
  padding: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @include for-size(desktop) {
    width: 358px; //for desktop
    margin-right: 12px; //for desktop
  }
  &::placeholder {
    color: $color_text-grey;
  }
}
.button--subscribe {
  @extend %button;
}
