@import "../../sass/utils/variables";
@import "../utils/placeholders";
@import "../utils/mixins";

.header {
  min-width: calc(320px - 1rem);
  width: 100%;
  background-color: $color_header-background;
  @include for-size(mobile-only) {
    width: calc(100% - 16px);
    position: fixed;
    z-index: 2;
    top: 0rem;
  }
  @include for-size(mobile) {
    width: calc(100% - 16px);
    position: fixed;
    z-index: 2;
    top: 0rem;
  }
}
.container__header {
  min-width: calc(320px - 1rem);
  position: relative;
  margin: 0 auto;
  display: flex;
  // z-index: 2;
  flex-wrap: nowrap;
  align-items: center;

  // background-color: pink;

  @include for-size(mobile-only) {
    width: 100%;
    padding: 0px 1rem;
    height: 60px;
    justify-content: space-between;
  }

  @include for-size(mobile) {
    width: 100%;
    padding: 0px 1rem;
    height: 60px;
    justify-content: space-between;
  }

  @include for-size(tablet) {
    width: calc($width_tablet-1rem);
    height: 80px;
    padding: 0px 15px;
  }

  @include for-size(desktop) {
    width: calc($width_desktop-1rem);
    height: 80px;
    padding: 0px 215px;
  }
}
.container--logo {
  height: 100%;
}
.logo--header {
  height: 100%;
  flex-grow: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  @include for-size(mobile-only) {
    display: none;
  }
  @include for-size(mobile) {
    display: none;
  }
}

.menu--mobile {
  position: absolute;
  background-color: $color_header-background;
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  padding: 1rem;
  padding-bottom: 60px;
  padding-top: 0px;
  @include for-size(mobile-only) {
    top: 0px;
    // transform: translateY(100%);
    display: block;
    margin-left: -1rem;
    width: 100%;

    // height: 100%;
  }

  @include for-size(mobile) {
    top: 0px;
    // transform: translateY(100%);
    display: block;
    margin-left: -1rem;
    width: 100%;
    // outline: 1px solid tomato;
    // padding: 60px;
    // height: 100%;
  }
  @include for-size(tablet) {
    display: none;
  }

  @include for-size(desktop) {
    display: none;
  }
}
.is-hidden--menu {
  opacity: 0;
  visibility: hidden;
}
.menu--mobile__top-row {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 60px;
  align-items: center;
  // border-bottom: 1px solid grey;
}
.header_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  // background-color: lightgreen;
  padding: 0px 0px;
  @include for-size(mobile-only) {
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
  }

  @include for-size(mobile) {
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
  }

  @include for-size(tablet) {
    padding-left: 88px; //for tablet
  }

  @include for-size(desktop) {
    padding-left: 93px; //for desktop
  }
}
.header__navigation__link {
  position: relative;
  // outline: 1px solid tomato;
  @extend %link;
  margin: 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: $color_text_dark;
  &.current::after,
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;
    transition-property: background-color;
    transition: $transition_common;
  }
  &.current::after,
  &:hover::after {
    background-color: $color_active-1;
  }

  @include for-size(mobile-only) {
    &:not(:last-child()) {
      margin-bottom: 52px;
    }
    &.current::after,
    &::after {
      content: "";
      bottom: -0.75rem;
    }
  }
  @include for-size(mobile) {
    &:not(:last-child()) {
      margin-bottom: 52px;
    }
    &.current::after,
    &::after {
      content: "";
      bottom: -0.75rem;
    }
  }
  @include for-size(tablet) {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    &:not(:last-child()) {
      margin-right: 50px;
    }
  }
  @include for-size(desktop) {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    &:not(:last-child()) {
      margin-right: 50px;
    }
  }
}

.header_contacts {
  @extend %list;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: lightblue;
  // outline: 1px solid tomato;
  height: 100%;
  padding: 0px 10px;

  // width: 100%;
  @include for-size(desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.header__contacts__link {
  // @extend %link;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  @include for-size(mobile-only) {
    &:not(:last-child()) {
      margin-bottom: 1rem;
    }
  }
  @include for-size(mobile) {
    &:not(:last-child()) {
      margin-bottom: 1rem;
    }
  }
  @include for-size(tablet) {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0rem;
    &:not(:last-child()) {
      margin-bottom: 10px;
    }
  }
  @include for-size(desktop) {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0px;
    &:not(:last-child()) {
      margin-right: 30px;
    }
  }
}
.link--grey {
  text-decoration: none;
  color: $color_text-grey;
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:hover,
  &.current {
    text-decoration: none;
    color: $color_active-1;
  }
}

.header__contacts__icon {
  margin-right: 10px;
  @include for-size(mobile-only) {
    display: none;
  }
  @include for-size(mobile) {
    height: 1rem;
    width: 1rem;
  }
  @include for-size(tablet) {
    height: 1rem;
    width: 1rem;
  }
  @include for-size(desktop) {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.centered {
  @include CenteredFlex();
}

.burger--menu__btn {
  // position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  color: $color_text_dark;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  transition-property: color, outline;
  transition-duration: $transition_common;
  @include for-size(tablet) {
    display: none;
  }
  @include for-size(desktop) {
    display: none;
  }
  &:hover,
  &:active,
  &:focus {
    color: $color_active-1;
    outline-color: $color_active-1;
  }
}
.menu--icon {
  width: 100%;
  height: 100%;
}
