@import "../utils/variables";
// @import "../utils/fonts";
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.logo {
  @include CenteredFlex(flex);

  // margin: auto;
  // padding: 10px;

  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
  border-radius: 4px;
  transition-property: box-shadow;
  transition: $transition-common;

  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 30px;
  // text-align: center;
  text-decoration: none;
  color: $color_active-1;

  background-color: transparent;

  &:visited {
    color: inherit;
    text-decoration: inherit;
  }
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  &--header {
    height: 100%;
    flex-grow: 0;
  }
  &__text {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 26px;
    line-height: 31px;
  }
}

.text--blue {
  color: $color_active-1;
}
.text--dark {
  color: $color_text-dark;
}
.text--light {
  color: $color_text-light;
}
.text--invisible {
  color: transparent;
}
