@import "./variables";
@import "./mixins";
%container {
  min-width: calc(320px - 1rem);
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;

  @include for-size(mobile-only) {
    // width: 100%;
    padding: 60px 15px;
  }

  @include for-size(mobile) {
    // width: 100%;
    padding: 60px 15px;
  }

  @include for-size(tablet) {
    max-width: $width_tablet;
    // width: 100%;
    padding: 60px 15px;
  }

  @include for-size(desktop) {
    max-width: $width_desktop;
    // width: 100%;
    padding: 94px 215px;
  }
}
%list {
  margin: 0;
  padding: 0;
  list-style: none;
}
%grid {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
%button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: $color_button-background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: $color_active-2;

  transition-property: box-shadow;
  transition: $transition-common;

  &:hover {
    color: $color_active-2;
    background-color: $color_button-background;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  }
}

%link {
  text-decoration: none;
  color: currentColor;
  transition-property: color;
  transition: $transition-common;
  // transition-property: color;
  // transition-duration: $transition-common;
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:hover,
  &.current {
    text-decoration: none;
    color: $color_active-1;
  }
}
